{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "target": "ES2022",
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    }
  }
}
